body {
  background-color: darksalmon;
  padding: 100px;
}
#bar {
  text-align: center;
  background-color: brown;
  color:white;
}
#main-nav {
  background-color:chocolate;
}
#main-nav ul li{
  list-style-type:none;
  display: inline-block;
  text-align: center;
  width: 30%;
  padding-top: 5px;
  padding-bottom: 5px;
}
#main-nav li:hover{
  background-color: lightslategray;
  color: white;
}
.main-container {
  background-color: darksalmon;
  margin: auto;
  text-align: center;
}

.TeamMember {
display: flex;
justify-content: center;
flex-wrap: wrap;
}

#profiles {
max-width: 300px;
height: 300px;
border-radius: 8px;
}