body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#bar {
  text-align: center;
  background-color: #333;
  color: #fff;
  margin: 10px 5px 5px 10px;
  padding: 10px;
}

#main-nav {
  background-color: #444;
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#main-nav li {
  display: inline-block;
  text-align: center;
  width: 30%;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#main-nav li:hover {
  background-color: #0074d9; /* Change color on hover */
  color: #fff; /* Change text color on hover */
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  width: 100%;
  padding: 0px;
}



.custom-button {
  background: #00c853;
  border: 1px solid #00c853;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Nunito", "Roboto", "Proxima Nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-transform: none;
  margin: 5;
}

.custom-button:hover,
.custom-button:active {
  background-color: initial;
  background-position: 0 0;
  color: #00c853;
}

.custom-button:active {
  opacity: 0.5;
}


.button-container {
  display: flex;
}